<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/nns/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/credo">Credo</a></li>
        		<li><a href="/trending">Trending</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
			
			{{ content }}
			
    		
    		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:newnormalsentinel@gmail.com">email</a></li>
        		<li><a href="https://github.com/newnormalsentinel">github.com/newnormalsentinel</a></li>
			</ul>
		</footer>
	</body>
</html>
